# Windows
[Dd]esktop.ini
[Tt]humbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/

# IDE
.vscode/
.idea/

# Wechat DevTool
project.private.config.json
